{% extends 'layout.html' %}

{% block body %}

    <h1>Contact</h1>

    <section>
        <h2>Who created this site?</h2>

        <h3><strong><a href="https://liba001.github.io" target="_blank">Linus Bartsch</a></strong></h3>

        <h4>Address</h4>
        <ul class="address">
            <li>Im Hagenfeld 12</li>
            <li>31303 Burgdorf</li>
            <li>Germany</li>
        </ul>

        <h4>Social</h4>
        <ul class="address">
            <li>Discord: LiBa01#8817</li>
            <li>Email: support-manager@mabasoft.de</li>
            <li>GitHub: <a href="https://github.com/LiBa001" target="_blank">LiBa001</a> </li>
            <li>Patreon: <a href="https://www.patreon.com/user?u=8320690" target="_blank">LiBaSoft</a> </li>
        </ul>
    </section>


    <section>
        <h2>You need help?</h2>

        <p>Join the <a href="https://discord.gg/z3X3uN4" target="_blank">Discord Server</a>! </p>

    </section>

    <h3>
        <a href="https://discordapp.com/oauth2/authorize?client_id=360801859461447700&scope=bot&permissions=19456" target="_blank">
            Invite the bot!
        </a>
    </h3>

{% endblock %}
